<div class="page-container">
	<h2 class="head">Bienvenido</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, tempore. Corrupti, aliquid magnam excepturi. Deleniti, minus vel libero quas asperiores magni dolores harum modi corrupti nulla quod optio blanditiis. Perspiciatis id ipsam maiores laudantium voluptatem accusamus. Id non ab nisi sed, dolorem! Quidem voluptate, repellendus.</p>
</div>